
<nav class="navbar navbar-inverse" style="background-color:#062A4E;" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ComunityHallFinder.Bd</a>
    </div>
    <ul class="nav navbar-nav">
     
      
      <li><a href="/registration">SignUp</a></li>
	   <li><a href="/login">Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signuphtml.php"><span class="glyphicon glyphicon-user"></span> Proposed Your Hall</a></li>
      <li><a href="loginHtml.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


