<!doctypehtml>
<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <style>
 body{background-color:skyblue; }
 input{height:30px; width:300px;}


</style>
</head>
<body>
		<% include partials/nav.ejs%>
 <div style="padding: 50px;">
<center><h1>Login Here!</h1></center>

<center>
	<div class="" style="width:600px;">
	<% include ./partials/messeges %>
</div></center>
<form method="POST" action="/login">
<center>

<label> Your Email:</label></br>
<input type='email' name='email'/></br>


<label> Your Password:</label></br>
<input type='password' name='password'/></br></br>

<input type='Submit' name='submit' style='width:80px; height:30px;'/>
</center>
</div>

</form>
</body>

</html>